.bg{
  background: #00BFFF;
  width: 1000px;
  margint: 10px;
 }
 .bg .header{
  background: #B8860B;
  padding: 2px 10px;
  text-align: center;
  color: #fff;
 }
.bg .footer{
  background: #171717;
  padding: 2px 10px;
  color: #fff;
}
